.statistics {
  margin-bottom: 20px;
  width: 500px;
  border-radius: 5px;
  text-align: center;
  background-color: var(--color-white);
  box-shadow: var(--shadow),
              var(--shadow);
  overflow: hidden;
}

.title {
  margin: 0;
  padding: 20px;
  font-size: 30px;
  text-transform: uppercase;
}

.statsList {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;  
}

.statsItem {
  padding: 20px;
  width: calc(100% / 5);
  border-top: 1px solid var(--color-primary);
  color: var(--color-white);
}

.statsItem:not(:last-child) {
  border-right: 1px solid var(--color-primary);
}

.statsItem:nth-child(1) {
  background-color: var(--color-light-blue);
}

.statsItem:nth-child(2) {
  background-color: var(--color-red);
}

.statsItem:nth-child(3) {
  background-color: var(--color-purple);
}

.statsItem:nth-child(4) {
  background-color: var(--color-cyan);
}

.statsItem:nth-child(5) {
  background-color: var(--color-green);
}

.label {
  display: block;
  margin-bottom: 10px;
}

.percentage {
  display: block;
  font-size: 24px;
  font-weight: bold;
}