.item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  border-radius: 5px;
  box-shadow: var(--shadow),
    var(--shadow);
}

.status {
  margin-right: 10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.statusOnLine {
  background-color: var(--color-green);
}

.statusOffLine {
  background-color: var(--color-red);
}

.avatar {
  margin-right: 10px;
  border: 1px solid var(--color-black);
  border-radius: 5px;
}

.name {
  margin: 0;
}